* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fffcf0; /* Tom suave que lembra suco/fruta */
    color: #333;
}

/* Header */
header {
    background-color: #ff9f43; /* Laranja vibrante */
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 60px; /* Ajuste o tamanho do seu nome.png aqui */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

/* Hero Section */
#hero {
    text-align: center;
    padding: 60px 20px;
}

.img-destaque {
    max-width: 300px;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.1));
}

/* Galeria de Produtos */
#produtos {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

#produtos h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #e67e22;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.item img:hover {
    transform: translateY(-5px);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
