/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #fdf5e6; /* Fundo Creme/Bege Suave */
    color: #444;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #d63031; /* Vermelho apenas no topo */
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 55px;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

/* Seção Principal */
.hero {
    padding: 60px 0;
    text-align: center;
}

.jarra-img {
    max-width: 280px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    color: #d63031;
}

/* Galeria de Fotos */
.titulo-secao {
    text-align: center;
    margin: 40px 0 20px;
    color: #d63031;
}

.grid-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-bottom: 60px;
}

.grid-fotos img {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Mantém as fotos de música/cultura sem distorcer */
    border-radius: 15px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.grid-fotos img:hover {
    transform: translateY(-10px);
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}
