/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Fundo claro para contrastar com o vermelho */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header e Logo */
header {
    background-color: #d63031; /* Vermelho do Sukinho */
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px; /* Isso impede que o logo fique gigante */
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 40px 0;
}

.img-jarra {
    max-width: 250px;
    margin-bottom: 20px;
}

/* Galeria de Fotos */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #d63031;
    transition: transform 0.3s;
}

.card img:hover {
    transform: scale(1.03);
}
